.container{
    position: fixed;
    z-index: 500;
    width: 100%;
    top: 0;
}
.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    top: 0;
    /* z-index: 100; */
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
}
.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header__optionBasket{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown-header{
    width: 70%;
    height: 100%;
    background-color: #f2f4f7;
    margin-top: 10px;
    margin-left: 140px;
    -webkit-box-shadow: -1px 9px 99px 27px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 9px 99px 27px rgba(0,0,0,0.3);
    box-shadow: -1px 9px 99px 27px rgba(0,0,0,0.3);
}
.dropdown__p{
    line-height: 3;
    font-size: 15px;
    font-weight: 500;
    color: #020205;
    padding-left: 20px;
}
.dropdown-header > div{
    margin-left: -40px;
}
.dropdown__tag :hover{
    cursor: pointer;
    background-color: rgb(218, 213, 213);
}
