.dropdown{
    background-color: #ffffff;
}
.dropdown > a {
    text-decoration: none;
}
.dropdown > a > p {
    margin-left: 20px;
    line-height: 2;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 500;
}
